body{
    background-color: #EFE7E3;
}
 
.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}
 
/*navigator*/
.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 
li{
    display: inline;
    margin:0;
    align-self: center;
    margin-left: 15px;
}
 
ul{
    margin:0;
}
 
.site-name{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #C2B4AB;
}
 
.nav-menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
 
a{
    color: black;
    text-decoration: none;
 
}
 
a:hover{
    color: white;
    transition: 0.3s;
}

.project-link {
    color: black;
    text-decoration: underline;
}

.project-link:hover {
    color: #e89c76;
    transition: 0.3s;
}
 
/*dashboard*/
.dashboard{
    display: flex;
    flex-direction: column;
}
 
.intro-sentence{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 20px;
}
 
.sample{
    color: black;
    animation: change 9s infinite;
    animation-delay: 0s;
}
 
.sample:hover{
    background-color: rgb(192, 217, 231);
    transition: 0.3s;
    color: white;
}
 
.highlight_1{
    color: black;
    animation: change 9s infinite;
    animation-delay: 3s;
}
 
.highlight_1:hover{
    background-color: rgb(192, 217, 231);
    color: white;
   
}
 
.highlight_2{
    color:black;
    animation: change 9s infinite;
    animation-delay: 6s;
}
 
.highlight_2:hover{
    background-color:rgb(192, 217, 231);
    color: white;
}

@keyframes change {
    0%{
        background-color: none;
    }
    10%{
        background-color: rgb(192, 217, 231);
    }
    15%{
        background-color: #EFE7E3;
    }
    100%{
        background-color: none;
        
    }
}
 
.recent-menu{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #C2B4AB;
 
    display: inline;
    align-self: flex-start;
    margin-top: 100px;
}
 
.recent-works{
    display: flex;
    flex-direction: column;
}
 
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:100px;
 
}
 
.contact{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:#C2B4AB;
    text-decoration: underline;
}
 
.github-link{
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
   
}
.email{
    display: block;
    font-family: 'Montserrat', sans-serif;
}
 
.phone-number{
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
 
.footer>p{
    font-family:'Work Sans', sans-serif;
    font-size: 15px;
    font-style:italic;
    margin-top:0;
}
 
.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 2vw 2vw;
}
 
#profile-picture{
    width: 60%;
    margin-right: 60px;
    /*
    width: 700px;
    margin-right: 60px;
    */
}
 
.introduction>h2{
    font-family:'Montserrat', sans-serif;
    /*font-size: 35px;*/
    font-size: 2vmax;
    margin:0px;
 
}
 
.introduction>p{
    font-family:'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.3vmax;
    margin-bottom: 0.2vh;
}
 
#skills{
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3vmax;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 2vh;
}

#education-title{
    font-size: 25px;
    margin-bottom: 1vh;
    font-weight: 600;
}
 
 
 
.university-link{
    text-decoration: none;
    color:maroon;
}

 
#icons {
    margin-bottom: 30px;
}

.icon {
    margin-right: 15px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    animation: jump 0.7s
}

@keyframes jump {
    0% { 
        transform: translate(0, 0) scale(1, 1);
        box-shadow: none;
    }
    50% { 
        transform: translate(0, -40%) scale(1.1, 1.1);
        box-shadow: 0px 8px 2px #464544;;
    }
    100% { 
        transform: translate(0, 0) scale(1, 1);
        box-shadow: none;
    }
}

.icon.github{
    animation-delay: 0.1s;
}
.icon.linkedin{
    animation-delay: 0.2s;
}
.icon.instagram{
    animation-delay: 0.3s;
}

.icon:hover {
    transform: scale(1.05) translateY(-7px);
    box-shadow: 0px 8px 2px #464544;
}

.accordion-button {
    font-family: 'Montserrat', sans-serif;
}

.accordion-body > p {
    font-family: 'Work Sans', sans-serif;
}

.skills{
    position: relative;
    max-width: 500px;
    width: 100%;
    border-radius: 7px;
}
.skills .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: rgb(174, 212, 174);
    animation: progress 0.7s ease-in-out forwards;
    opacity: 0;
}
.skill-per.css{
    width: 70%;
    animation-delay: 0.1s;
}
.skill-per.javascript{
    width: 50%;
    animation-delay: 0.2s;
}
.skill-per.nodejs{
    width: 30%;
    animation-delay: 0.3s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);

}
